<!DOCTYPE html>

<head>Interactive Checklist!</head>

<body>
  <div class="weddingcheckboxes">
    <input type="checkbox" value="wedding">Hair Appointment
    <input type="checkbox" value="wedding">Dress
    <input type="checkbox" value="wedding">Rings
    <input type="checkbox" value="wedding">Music/Entertainment
    <input type="checkbox" value="wedding">Location Booked
    <input type="checkbox" value="wedding">Make-Up
    <input type="checkbox" value="wedding">Tuxedo
    <input type="checkbox" value="wedding">Flowers
    <input type="checkbox" value="wedding">Food
    <input type="checkbox" value="wedding">Cake
    <input type="checkbox" value="wedding">Decorations
    <input type="checkbox" value="wedding">Invitations
    <input type="checkbox" value="wedding">Photographer
    <input type="checkbox" value="wedding">Other:
  </div>
</body>

<body>
  <div class="promcheckboxes">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
    <input type="checkbox" value="prom">
  </div>
</body>

<body>
  <div class="birthdaycheckboxes">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
    <input type="checkbox" value="birthday">
  </div>
</body>

<body>
  <div class="graduationcheckboxes">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
    <input type="checkbox" value="graduation">
  </div>
</body>
