<!DOCTYPE html>

<head>
  <title>PlanIt!</title>
  <link  rel="stylesheet" type="text/css" href="event.css">
  <script src="event.js"></script>

</head>

<body class="homepage">

	<div class="header-cont">
		<img ID="bannerImage" src="project_site_banner@1,25x.png" alt="Site Banner">
	</div>
	<div ID='position'></div>
	<h1 ID="homepage">PlanIt!</h1>

	<div ID='homepage' class="leftColumn">
  	<h3 ID='homepage'>Welcome to PlanIt! This innovative website will help you host the best event in town through helpful organization tools and fresh ideas. To ensure nothing is forgotten when planning the event of a lifetime, this website has an interactive checklist for all of your party planning needs. With such a wide array of ideas for your event, PlanIt! will make your original event a shining star. Enjoy the site!</h3>
	</div>
	<div ID='homepage' class="rightColumn">
	<h2> Choose an event!</h2>
		<!--The buttons for each type of event and linking them to the appropriate page-->
		<div>
			<a href="/prom">
				<input ID="prombutton" class="button" type="button" value="Prom">
			</a>
			<a href="/wedding">
		    <input ID="weddingbutton" class="button" type="button" value="Wedding">
		  </a>
		  <a href="/graduation">
		  	<input ID="graduationbutton" class="button" type="button" value="Graduation">
		  </a>
		  <a href="/birthday">
	    	<input ID="birthdaybutton" class="button" type="button" value="Birthday Party">
      </a>
      <a href="/checklist">
        <input ID="checklistbutton" class="button" type="button" value="Interactive Checklist">
      </a>
      <a href="/countdown">
        <input ID="countdownbutton" class="button" type="button" value="Countdown Clock">
      </a>
		</div>
	</div>

</body>
