<!DOCTYPE html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<head>
	<title>Wedding PlanIt!</title>
	<link rel="stylesheet" href="event.css">
	<script src="event.js"></script>

</head>

<body>

<div class="header-cont">
		<img id="bannerImage" src="project_site_banner@1,25x.png" alt="Site Banner">
	</div>


	<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
	<a href="/checklist">CHECKLIST</a>
	<a href="/countdown">COUNTDOWN</a>
	<a href="/birthday">BIRTHDAY</a>
  <a href="/graduation">GRADUATION</a>
  <a href="/prom">PROM</a>
  <a href="/wedding">WEDDING</a>
</div>

<div id="main">
    <div id='position'></div>

<h1 class="weddingpage">A Wedding to Remember</h1>

<div>
		<input ID="weddinghair" class="weddingbutton" type="button" value="Hairstyles">
		<input ID="weddinginvitations" class="weddingbutton" type="button" value="Invitations">
		<input ID="weddingflowers" class="weddingbutton" type="button" value="Flowers">
		<input ID="weddingcake" class="weddingbutton" type="button" value="Cake">
		<input ID="weddingdress" class="weddingbutton" type="button" value="Dresses">
		<input ID="weddingtux" class="weddingbutton" type="button" value="Tuxedos">
		<input ID="weddingrings" class="weddingbutton" type="button" value="Rings">
		<input ID="weddingmusic" class="weddingbutton" type="button" value="Music">
		<input ID="weddinglocation" class="weddingbutton" type="button" value="Locations">
		<input ID="weddingfood" class="weddingbutton" type="button" value="Food">
		<input ID="weddingdecorations" class="weddingbutton" type="button" value="Decorations">
		<input ID="weddingbridesmaids" class="weddingbutton" type="button" value="Bridesmaids">
</div>

<script>
  $(weddinghair).on("click", sayhair)
  function sayhair () {fadeout();}
	$(weddinginvitations).on("click", sayinvite)
	function sayinvite () {alert("Hair!");}
	$(weddingflowers).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingcake).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingdress).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingtux).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingrings).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingmusic).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddinglocation).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingfood).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingdecorations).on("click", sayhi)
	function sayhi () {alert("Hair!");}
	$(weddingbridesmaids).on("click", sayhi)
	function sayhi () {alert("Hair!");}
</script>

<style>
body {
  background-image: url("https://img1.etsystatic.com/018/0/6362870/il_fullxfull.493442659_t7sc.jpg");
}

</style>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">MENU</span>
</div>

</body>
