<!DOCTYPE html>

<head>
  <title>Graduation!</title>
  <link  rel="stylesheet" type="text/css" href="event.css">
  <script src="event.js"></script>

</head>

</div>

<div class="header-cont">
		<img id="bannerImage" src="project_site_banner@1,25x.png" alt="Site Banner">
	</div>

<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
    <a href="/birthday">BIRTHDAY</a>
    <a href="/graduation">GRADUATION</a>
    <a href="/prom">PROM</a>
    <a href="/wedding">WEDDING</a>


	</div>


<div id="main">
    <div id='position'></div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">MENU</span>
  	<h1>Hello</h1>





</body>
