<!DOCTYPE html>

<head>
	<title>Wedding Plan</title>
	<link rel="stylesheet" href="event.css">
	<script src="event.js"></script>

</head>

<body>

<div class="header-cont">
		<img id="bannerImage" src="project site banner@1,25x.png" alt="Site Banner">
	</div>

	
	<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
  <a href="eventbirthdaypage.html">BIRTHDAY</a>
  <a href="eventgraduationpage.html">GRADUATION</a>
  <a href="eventprompage.html">PROM</a>
  <a href="eventweddingpage.html">WEDDING</a>
</div>

<div id="main">
    <div id='position'></div>

<h1>Weddings rock</h1>

<style>
body {
  background-image: url("https://img1.etsystatic.com/018/0/6362870/il_fullxfull.493442659_t7sc.jpg");
}

</style>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">MENU</span>
</div>

</body>

