<!DOCTYPE html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<head>
	<title>Wedding PlanIt!</title>
	<link rel="stylesheet" href="event.css">
	<script src="event.js"></script>

</head>

<body>

<image src="https://media1.giphy.com/media/grgvHdZo40yXK/200.gif" />
<image src="https://media3.giphy.com/media/LE7KId3xoDe9O/200_s.gif" />
<image src="https://media1.giphy.com/media/l41YBbqh4ujjSxAQw/200.gif" />
<image src="https://media4.giphy.com/media/piPYwnocOtBG8/200.gif" />
<image src="https://media2.giphy.com/media/gRtEeOwA1R08E/200.gif" />


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
	<a href="/checklist">CHECKLIST</a>
	<a href="/countdown">COUNTDOWN</a>
	<a href="/birthday">BIRTHDAY</a>
  <a href="/graduation">GRADUATION</a>
  <a href="/prom">PROM</a>
  <a href="/wedding">WEDDING</a>
</div>

<div id="main">
    <div id='position'></div>

<h1 class="weddingpage">A Wedding to Remember</h1>

<div class="thumbnails">
		<input ID="weddinghair" class="weddingbutton" type="button" value="Hairstyles">
		    <script type="text/javascript">
						function animateWedding() {
								console.log("Called");
								$('#weddinghaircollage').css({right:'110%'});
		            $('#weddinghaircollage').animate({right: '-100%'}, 10000, 'linear', function(){animateWedding();});
								exit()
		        }
		        $(document).on("click", animateWedding)
		    </script>
			<body>
			    <div style="width: 100%;"><img src="weddinghaircollage.jpg" id="weddinghaircollage" style="position:absolute;"/></div>
			</body>

		<input ID="weddinginvitations" class="weddingbutton" type="button" value="Invitations">
				<script type="text/javascript">
						function animateInvitation() {
								console.log("Called");
								$('#weddinginvitationcollage').css({right:'10%%'});
								$('#weddinginvitationcollage').animate({right: '-110%'}, 10000, 'linear', function(){animateInvitation();});
								exit()
						}
						$(document).on("click", animateInvitation)
				</script>
			<body>
					<div style="width: 100%;"><img src="weddinginvitationcollage.jpg" id="weddinginvitationcollage" style="position:absolute;"/></div>
			</body>

		<input ID="weddingflowers" class="weddingbutton" type="button" value="Flowers">
<!--				<script type="text/javascript">
						function animateFlower() {
								console.log("Called");
								$('#weddingflowercollage').css({right:'10%%'});
								$('#weddingflowercollage').animate({right: '-110%'}, 10000, 'linear', function(){animateFlower();});
								exit()
						}
						$(document).on("click", animateFlower)
				</script>
			<body>
					<div style="width: 100%;"><img src="weddingflowercollage.jpg" id="weddingflowercollage" style="position:relative;"/></div>
			</body>
-->
	</a>
	<a>
		<input ID="weddingcake" class="weddingbutton" type="button" value="Cake">
	</a>
	<a>
		<input ID="weddingdress" class="weddingbutton" type="button" value="Dresses">
	</a>
	<a>
		<input ID="weddingtux" class="weddingbutton" type="button" value="Tuxedos">
	</a>
	<a>
		<input ID="weddingrings" class="weddingbutton" type="button" value="Rings">
	</a>
	<a>
		<input ID="weddingmusic" class="weddingbutton" type="button" value="Music">
	</a>
	<a>
		<input ID="weddinglocation" class="weddingbutton" type="button" value="Locations">
	</a>
	<a>
		<input ID="weddingfood" class="weddingbutton" type="button" value="Food">
	</a>
	<a>
		<input ID="weddingdecorations" class="weddingbutton" type="button" value="Decorations">
	</a>
	<a>
		<input ID="weddingbridesmaids" class="weddingbutton" type="button" value="Bridesmaids">
	</a>
</div>

<script>
  $(weddinghair).on("click", sayhair)
</script>

<style>
body {
  background-image: url("https://img1.etsystatic.com/018/0/6362870/il_fullxfull.493442659_t7sc.jpg");
}

</style>
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">MENU</span>
</div>

</body>
