<!DOCTYPE html>

<head>
  <title>PlanIt!</title>
  <link  rel="stylesheet" type="text/css" href="event.css">
  <script src="event.js"></script>

</head>

<body>
  <style>
  body {
    background-image: url('http://wp.lps.org/train-2015-12-14/files/2015/12/sunset-1.jpg')
  }
  </style>
	<div class="header-cont">
		<img id="bannerImage" src="project site banner@1,25x.png" alt="Site Banner">
	</div>
	<div id='position'></div>
	<h1 ID="homepage" class="title">PlanIt!</h1>

	<div ID="homepage" class="leftColumn">
		<h3>WELCOME MESSAGE</h3>
    <h5>Welcome to PlanIt! This innovative website will help you host the best event in town through helpful organization tools and fresh ideas. To ensure nothing is forgotten when planning the event of a lifetime, this website has an interactive checklist for all of your party planning needs. With such a wide array of ideas for your event, PlanIt! will make your original event a shining star. Enjoy the site!<h5>
	</div>
	<div ID="homepage" class="rightColumn">
		<h3>EVENT TYPE SELECTION</h3>
		<!--The buttons for each type of event and linking them to the appropriate page-->
		<div>
			<a href="eventprompage.html">
				<input ID="prombutton" class="button" action="/prom" type="button" value="Prom" href="http://www.w3schools.com/html/">
			</a>
			<a href="eventweddingpage.html">
		    	<input ID="weddingbutton" class="button" action="/wedding" type="button" value="Wedding">
		    </a>
		    <a href="eventgraduationpage.html">
		    	<input ID="graduationbutton" class="button" action="/sweetsixteen" type="button" value="Graduation">
		    </a>
		    <a href="eventbirthdaypage.html">
		    	<input ID="birthdaybutton" class="button" action="birthday" type="button" value="Birthday Party">
		    </a>
		</div>
	</div>

</body>
