<!DOCTYPE html>

<head>
	<title>Prom Plan</title>
	<link rel="stylesheet" href="event.css">
    <script src="event.js"></script>

</head>

<body>

<div class="header-cont">
		<img id="bannerImage" src="project site banner@1,25x.png" alt="Site Banner">
	</div>


	<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
  <a href="/birthday">BIRTHDAY</a>
  <a href="/graduation">GRADUATION</a>
  <a href="/prom">PROM</a>
  <a href="/wedding">WEDDING</a>
</div>



<div id="main">
    <div id='position'></div>
    <h1>Prom rocks</h1>  <span style="font-size:30px;cursor:pointer" onclick="openNav()">MENU</span>
</div>





<!--<style>
body {
  background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/13307344_885737061552439_2884213298865472646_n.jpg?oh=97371e0b59aab2085961422c74f07049&oe=5826E2A8");
} -->

</style>

</body>
